:root {
    --fuente: 'Hanken Grotesk', sans-serif;
    --rojo: hsl(0, 100%, 67%);
    --amarillo: hsl(39, 100%, 56%);
    --verde: hsl(166, 100%, 37%);
    --azul: hsl(234, 85%, 45%);
    --violeta: hsla(256, 72%, 46%, 1);
    --violetaOscuro: hsl(241, 59%, 27%);
    --violetafondo: hsl(252, 100%, 67%);
    --violetacircle: hsla(256, 72%, 46%, 1);
    --azulPalido: hsl(221, 100%, 96%);
    --azulboton: hsl(224, 30%, 27%);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--azulPalido);
    font-family: var(--fuente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    font-size: 16px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-size: 6rem;
    color: white;
    font-family: var(--fuente);
    margin: 0 auto;
}
h3 {
    margin-left: 1rem;
}
.tarjeta {
    width: 60rem;
    background-color: white;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.75);
}
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
@media (max-width: 375px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.result {
    text-align: center;
    width: 50%;
    background-image: linear-gradient(to top, var(--azul) 0%, var(--violetafondo) 100% );
    border-radius: 2rem;
    height: 42rem;
}
@media (max-width: 375px) {
    .result {
        width: 62%;
        height: 40rem;
    }
}
.title {
    margin-top: 3rem;
    color: hsla(0, 0%, 100%, 0.750);
}
.result h2 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 3rem;
}
.circle {
    background-image: linear-gradient(to top, var(--violetacircle) 0%, var(--violetacircle) 100% );
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    width: 15rem;
    height: 15rem;
}
.circle p {
    margin: 0;
    font-size: 1.4rem;
    color: hsla(0, 0%, 100%, 0.507);
}
.info {
    margin: 0 3rem;
    color: hsla(0, 0%, 100%, 0.750);
}

.summary {
    width: 50%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-right: 2rem;
}
.resultado {
    display: flex;
}
.name {
    color: var(--rojo);
}
.name-2 {
    color: var(--amarillo);
}
.name-3 {
    color: var(--verde);
}
.name-4 {
    color: var(--violeta);
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.4rem;
}
.rows {
    display: flex;
    flex-direction: column;
}
.row:nth-child(1) {
    background-color: hsl(0deg 58.62% 54.51% / 17%);
    border-radius: 1rem;
    padding: 0 1rem;
}
.row:nth-child(2) {
    background-color: hsl(58.67deg 58.62% 54.51% / 17%);
    border-radius: 1rem;
    padding: 0 1rem;
}
.row:nth-child(3) {
    background-color: hsl(122.37deg 58.62% 54.51% / 17%);
    border-radius: 1rem;
    padding: 0 1rem;
}
.row:nth-child(4) {
    background-color: hsl(246.98deg 71.91% 46.08% / 16%);
    border-radius: 1rem;
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    background-color: var(--azulboton);
    color: white;
    padding: 1.5rem;
    text-decoration: none;
    border-radius: 1rem;
    width: 90%;
    border: none;
    border-radius: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: var(--fuente);
}
@media (max-width: 375px) {
    .button {
        margin-bottom: 2rem;
    }
}
.button:hover {
    background-color: var(--violetaOscuro);
}